body{
  background-color: #020916;
}

.link
{
  text-decoration:none;
  color:white;
}

.list
{
  display: flex;

  margin-top:2.5rem;
  margin-left: 1rem;
}
.avatar-container,.sigin-button
{
  margin-left: auto;
  margin-right: 2rem;
}

#search-field
{
  all:unset;
  background-color: white;
  padding:12px;
  padding-left: 20px;
  height:1rem;
  width:20rem;
  border-radius:25px;
  margin-left:13rem;
  /* opacity: 0.4; */
}


.field
{
  display: flex;
  flex-direction: column;
  height:fit-content;
  width:50rem;
  margin:10px auto;
}
.textbox
{
  margin:0.5rem;
}
.content
{
  
  margin-top:2rem;
  height:80vh;
  background-color: white;
  width:55rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left:15rem;
  border-radius: 10px;
  
}

.content>p
{
  font-family:  'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: -0.5rem;
}
.add-text-field-container
{
  height:5rem;
  color: whitesmoke !important;
}
.movie-main
{
  margin:4rem 0;
  justify-items: center;
  display:grid;
  row-gap:1rem;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.movie-content
{
  width: fit-content;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  height:300px;
  width:239px;
  cursor: pointer;
 
  
}
.overlay-container
{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  margin-top:-11rem;
  margin-left:7.5rem;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* margin-left: 5rem; */
}

.movie-content:hover .overlay-container 
{
  opacity:1;
}
.play-button
{
  height:5rem !important;
  width:5rem !important;
  /* fill: green !important; */
}

.movie-content:hover img
{
  opacity: 0.3;
}

.movie-content img
{
  height:300px;
  width:239px;
  object-fit:cover;
  border-radius:5px;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
  display: block;
}


.ind-movie-data
{
  display: flex;
  gap:0.5rem;
  flex-direction: column;
  margin-top:5rem;
  margin-bottom: 2rem;
}
.youtube-video
{
  width: 853px;
  height: 480px;
  margin-left:5rem; 
}

.movie-heading
{
  color:white;
  margin-left:5rem;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.more-info-container
{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width:fit-content;
  margin-left:18rem;
}

.movie-details
{
  color: white;
}
.movie-details img
{
  height:300px;
  width:239px;
  object-fit:cover;
  border-radius:5px;
  border: 3px solid #6c757d;
}

.more-info>div
{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.more-info
{
  width:fit-content;
  margin-right:10rem;
}

.more-info label
{
  color:#6c757d;
  width:8rem;
  text-align: right;
  /* margin-right: 1rem; */
}

#detail
{
  margin-left:3rem ;
}

.more-info span
{
  /* margin-left: 2rem; */
  width: fit-content;
}



.summary
{
  /* font-size:16px;
  font-weight:400;
  font-family: 'Roboto', serif;
  width:20rem;
  text-overflow: clip;
  text-align: justify; */
  margin-left:3.4rem;
} 
.watchlist-btn-container
{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap:4rem;
}
.watchlist-btn-container>Button
{
  margin-top: 0.5rem;
  
}

.error-page img
{
  text-align: center;
  height:92.3vh;
  width:100vw;
  margin-bottom: 0;
}



.auth-container
{
  width:25rem;
  height:25.5rem;
  padding:2rem;
  background-color: white;
  border-radius: 5px;
  margin:4rem auto;
}



.auth-heading
{
  margin-left:7rem;
  margin-bottom: 2rem;
}


.textfield-container
{
    height: 4rem;
}

.breakline
{
    display: flex;
    align-items: center;
    justify-content: center;

}
.breakline p
{
    margin:1rem 1rem;
    font-size:16px;
    color:#6c757d;

}

.line
{
    background-color: #6c757d;
    height:1px;
    width:200px;
}

.login-G,.register-G
{
    background-color: white !important;
    color:#6c757d !important;
    gap: 1rem;
    height:40px;
}


.login-G:hover,.register-G:hover
{
  background-color: rgba(207, 210, 226, 1) !important;
  /* color:orangered !important; */
}

.forgotpage
{
  background-color: white;
  width:25rem;
  height:18rem;
  margin:5rem auto;
  border-radius: 5px;
  padding: 1rem;
  
}
.updatepassword
{
  background-color: white;
  width:25rem;
  height:16rem;
  margin:7rem auto;
  border-radius: 5px;
  padding: 1rem;
}

.forgotpasswordheading,.updatepasswordheading
{
  text-align: center;
  margin-top:1rem !important;
}

.forgottextfield,.updatepasswordtextfield
{
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  height: 4rem;
}
.forgotpasswordback
{
  margin-top: 0.5rem !important;
  margin-left:17rem !important;
}
.forgotpassword-button
{
  margin-top: 0.5rem !important;
  margin-left: 15rem !important;
}
#changepasswordprogress
{
  position: absolute;
  margin-top:7rem;
  margin-left:41rem;
}
#forgotprogress
{
  position: absolute;
  margin-top:7rem;
  margin-left:10.5rem;
}
#loginprogress
{
  position: absolute;
  margin-top:3rem;
  margin-left:10.5rem;
}
#updatemovieprogress
{
  position: absolute;
  margin-top:12rem;
  margin-left:22rem;
}




/* Search Page */
.filterData-container
{
  background-color:#020916;
  /* background-color: aliceblue; */
  width:20rem;
  border-radius:10px;
  position: absolute;
  margin-left:28.5rem;
  margin-top:3rem;
  z-index: 2;
  padding:0.5rem;
  padding-bottom: 0rem;
}

.filter-results > img
{
    width:5rem;
    height:5rem;
    border-radius: 4px;
}

.filter-results
{
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap:2rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  /* padding-bottom: 0rem; */
  cursor: pointer;
  height:5rem;
}

.filter-results:hover
{
  background-color:#474d5a;
  border-radius: 5px;
}

.filter-results:hover p
{
  color: yellowgreen;
}

.filter-result-details > p
{
  margin-bottom: 0;
  color:white;
  width:12rem;
  margin-top: -1rem;
  font-size:1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.filter-more-info
{
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  gap: 2rem;
}
.no-result
{
  color: white;
  margin-top: -1rem;
}


@media screen and (max-width:600px)
{
  .list
  {
    margin-top:0rem;
    margin-bottom: 2rem !important;
    gap:1.5rem;
  }
  .movie-main
  {
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    margin:2rem 1rem;
  }
  .movie-content
  {
    width:159px;
    height:179px;
    margin-top: 2rem;
    margin-left: 1rem;
  }  
  .movie-content img
  {
    height:200px;
    width:139px;
    margin: 0;
  }
  #search-field
  {
    margin-top:8rem;
    margin-left:-12rem;
  }
  .overlay-container
{

  margin-top:-6rem;
  margin-left:4.5rem;

}
.avatar-container
{
  margin-top:3.8rem;
  margin-left:-2rem;
}
.sigin-button
{
  margin-top:4.2rem;
  margin-left:-3rem;
  /* margin-right: 0; */
}
#video
{
  width:350px !important;
  height:280px !important;
  margin-left:-4rem; 
}
.movie-details img
{
  /* margin-left: -4rem; */
  height:300px;
  width: 200px;
}

.more-info-container
{
  flex-direction: column;
  margin-left:-3rem;
  /* width:17rem; */
}

.filterData-container
{
  width:16rem;
  margin-left:3rem;
  margin-top:12rem;
}
.filter-result-details > p
{
  font-size: 1rem;
  width:6rem;
}
.no-result
{
  margin-top: -2rem;
  margin-left: 2rem;
}
.watchlist-btn-container
{
  margin-top:-15rem;
  margin-left:-4rem;
  gap: 1rem;
}
.more-info-container>img
{
  margin-left:-2rem !important; 
  margin-top:2rem;
  margin-bottom: 2rem;
}
.more-info
{
  /* margin-left:2rem; */
  margin-right: 0;
  /* width:15rem; */
}
/* .summary
{
  margin-left: 0;
} */

.youtube-video
{
  width:300px !important;
  height:480px !important;
  /* margin-left:-4rem;  */
}
.auth-container
{
  width:19rem;
}
.auth-heading
{
  margin-left:4.5rem !important;
}
.forgotpassword-button
{
  margin-left:5rem !important;
  width: 100%;
}

}